.social-icon {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    margin-bottom: 0;

    li {
        +li {
            margin-left: 33px;
        }

        a {

            svg {
                fill: var(--black-fade-color);
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                path {
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: var(--primary-color);
                    }

                }
            }
        }

    }

}