h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--font-color);
	font-family: var(--secondary-font);
	font-weight: 400;
	margin-bottom: 1.1em;
	line-height: 1.31;
}

h1 {
	font-size: 2.33em;
}

h2 {
	font-size: 2.11em;

}

h3 {
	font-size: 1.77em;

}

h4 {
	font-size: 1.33em;
}

h5 {
	font-size: 1.11em;

}

h6 {
	font-size: 0.88em;
}