/* Links
--------------------------------------------- */
.site {
	a {
		color: var(--primary-color);
		text-decoration: none;
		-webkit-transition: all 0.234s ease-in-out;
		-o-transition: all 0.234s ease-in-out;
		transition: all 0.234s ease-in-out;

	}

	.entry-content {

		a {
			color: var(--primary-color);

			&:hover {
				text-decoration: underline;
			}

			&:focus {
				outline: thin dotted;
			}

			&:hover,
			&:active {
				outline: 0;
			}
		}
	}
}