/* Galleries
--------------------------------------------- */

.gallery {
	margin-bottom: 1.5em;
	display: -ms-grid;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
	height:100%;
	margin:0;
	.gallery-icon.landscape {
		height: 100%;
	}
	a{
		display: block;
	}
	
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {

	.gallery-columns-#{$i} {
		-ms-grid-columns: (1fr)[$i];
		grid-template-columns: repeat($i, 1fr);
	}
}

.gallery-caption {
	display: block;
}