* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.skip-link,
.skip-link:hover,
.skip-link:visited {
    position: absolute;
    top: -999px;
    left: 20px;
    background: #f7f7f7;
    border: 1px solid rgba(var(--black-color-rgb), 0.1);
    font-size: 0.8888em;
    font-weight: 600;
    padding: 10px 20px;
    color: var(--black-color);
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 20px rgba(var(--black-color-rgb), 0.1);
    box-shadow: 0 2px 20px rgba(var(--black-color-rgb), 0.1);
    z-index: 999;
    text-decoration: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

// form
label {
    font-size: 0.833em;
    line-height: 1.5;
}



// owl carousel
.owl-carousel {
    .owl-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        grid-gap: 15px;

        button {

            &.owl-next,
            &.owl-prev {
                display: block;
                width: 30px;
                height: 30px;
                background-color: var(--font-color);
                border: 1px solid var(--font-color);
                border-radius: 0;
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                -webkit-background-size: 10px 17px;
                background-size: 10px 17px;
                background-repeat: no-repeat;
                background-position: center;
                font-size: 0;

                @include respond-to(medium) {
                    width: 41px;
                    height: 41px;

                }

                &.disabled {
                    pointer-events: none;
                    background-color: rgba(var(--black-color-rgb), 0.25);
                }

                &:hover {
                    background-color: var(--primary-color);
                    border: 1px solid var(--primary-color);
                }
            }

            &.owl-prev {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.249' height='17.082' viewBox='0 0 10.249 17.082'%3E%3Cpath id='_211686_back_arrow_icon' data-name='211686_back_arrow_icon' d='M170.249,97.73,168.525,96,160,104.541h0l8.525,8.541,1.724-1.73-6.8-6.811Z' transform='translate(-160 -96)' fill='%23fff'/%3E%3C/svg%3E%0A");
            }

            &.owl-next {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.37' height='17.082' viewBox='0 0 10.37 17.082'%3E%3Cpath id='_211686_back_arrow_icon' data-name='211686_back_arrow_icon' d='M160,97.73,161.745,96l8.625,8.541h0l-8.625,8.541L160,111.352l6.875-6.811Z' transform='translate(-160 -96)' fill='%23fff'/%3E%3C/svg%3E%0A");
            }
        }
    }

    .owl-dots {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        // grid-gap: 15px;
        grid-gap: 7px;

        .owl-dot {
            display: block;
            width: 12px;
            height: 12px;
            // background: var(--primary-color);
            background: transparent;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            border-radius: 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            opacity: .4;
            border-radius: 50%;
            border: 1px solid var(--black-color);

            &:hover,
            &.active {
                opacity: .4;
            }
        }

        .owl-dot.active::before {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6'%3E%3Cg id='Ellipse_17' data-name='Ellipse 17' fill='%236f6f6f' stroke='%23707070' stroke-width='1'%3E%3Ccircle cx='3' cy='3' r='3' stroke='none'/%3E%3Ccircle cx='3' cy='3' r='2.5' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
            width: 6px;
            height: 6px;
            position: absolute;
            top: 2px;
            left: 2px;
        }
    }
}

// section header
.section-sub-title {
    font-size: 0.66em;
    line-height: 1.33;
    font-weight: 400;
    letter-spacing: 0.4em;
    color: var(--font-color);
}

.section-title {
    font-size: 2em;
    line-height: 1.2;
    font-weight: 500;
    font-family: var(--secondary-font);
    margin: 0;
    color: var(--font-color);

    @include respond-to(medium) {
        font-size: 2.66em;
    }
}

.page-title {
    font-size: 2.66em;
    line-height: 1.3;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: normal;
}

.section-header {
    margin-bottom: 50px;
    text-align: center;

    .section-desc {
        max-width: 555px;
        font-size: 1em;
        line-height: 1.8;
        margin: 0 auto;

        p {
            margin-bottom: 0;
        }
    }

    @include respond-to(medium) {
        margin-bottom: 74px;
    }
}

section {
    .widget {
        margin-bottom: 0;
    }
}