* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.skip-link,
.skip-link:hover,
.skip-link:visited {
    position: absolute;
    top: -999px;
    left: 20px;
    background: #f7f7f7;
    border: 1px solid rgba(var(--black-color-rgb), 0.1);
    font-size: 0.8888em;
    font-weight: 600;
    padding: 10px 20px;
    color: var(--black-color);
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 20px rgba(var(--black-color-rgb), 0.1);
    box-shadow: 0 2px 20px rgba(var(--black-color-rgb), 0.1);
    z-index: 999;
    text-decoration: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

// form
label {
    font-size: 0.833em;
    line-height: 1.5;
}