.top-header {
    padding: 20px 20px;

    @include respond-to(xlarge) {
        padding: 22px 0;
    }

    .container {

        .top-header-wrapper {
            .social-icon {
                -webkit-box-pack: end;
                -webkit-justify-content: flex-end;
                        justify-content: flex-end;
            }
        }
    }
}